table {
  thead {
    tr {
      th {
        text-align: center;
      }
    }
  }
  tbody {
    tr {
      td {
        &.content-cell {
          text-align: center;
          vertical-align: middle;
        }
        &.action-cell {
          cursor: pointer;
          user-select: none;
          &:hover {
            color: #ff0000;
            font-weight: bold;
          }
        }
      }
    }
  }
}
