<button type="submit" (click)="addPayment()">Добавить</button>
<table>
  <thead>
    <tr>
      <th>Наименование платежа</th>
      <th>Стоимость</th>
      <th *ngFor="let month of months">{{ month }}</th>
      <th>Удалить</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let payment of payments; let idx = index">
      <td>{{ payment.name }}</td>
      <td>{{ payment.daycost }}</td>
      <td *ngFor="let assign of (payment.assign | keyvalue)">
        <input type="checkbox" [checked]="assign.value" (change)="setAssignment(payment, assign.key, $event)" />
      </td>
      <td><span (click)="removePayment(idx)">x</span></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Израсходовано средств: {{ payments?.length }}</td>
    </tr>
  </tfoot>
</table>
<button type="submit" (click)="show()">SHOW</button>
