<div class="operation-form-wrapper">
  <div class="payment-name-wrapper">
    <input type="text" [formControl]="paymentName" placeholder="Наименование платежа*" />
    <div *ngIf="paymentName.dirty">
      <div *ngIf="paymentName.errors?.required">Поле обязательно</div>
    </div>
  </div>
  <div class="payment-daycost-wrapper">
    <input type="number" [formControl]="paymentDayCost" placeholder="Стоимость за день" />
    <div *ngIf="paymentDayCost.dirty">
      <div *ngIf="paymentDayCost.errors?.required">Поле обязательно</div>
      <div *ngIf="paymentDayCost.errors?.min">Значение не может быть меньше 0</div>
    </div>
  </div>
  <div class="action-button-wrapper">
    <button type="submit" class="btn btn-secondary" (click)="addPayment()" [disabled]="operationForm.invalid">
      Добавить
    </button>
  </div>
</div>

<div>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Наименование платежа</th>
        <th scope="col">Стоимость</th>
        <th scope="col" *ngFor="let month of months">{{ month }}</th>
        <th scope="col">Удалить</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments; let pidx = index">
        <td class="content-cell">{{ payment.name }}</td>
        <td class="content-cell">{{ payment.daycost }}</td>
        <td class="content-cell" *ngFor="let month of months; let midx = index">
          <input type="checkbox" [checked]="payment.assign[midx]" (change)="setAssignment(payment, midx, $event)" />
        </td>
        <td class="content-cell action-cell">
          <span class="remove-sign" (click)="removePayment(pidx)">X</span>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="getAmount()">
      <tr>
        <td colspan="15">
          Израсходовано средств: <span class="bold">{{ getAmount() }}</span>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
