.operation-form-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

table {
  tbody {
    tr {
      td {
        &.content-cell {
          text-align: center;
        }
        &.action-cell {
          cursor: pointer;
        }
      }
    }
  }
}
