.operation-form-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

table {
  thead {
    tr {
      th {
        text-align: center;
      }
    }
  }
  tbody {
    tr {
      td {
        &.content-cell {
          text-align: center;
          vertical-align: middle;
        }
        &.action-cell {
          cursor: pointer;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }
}
