<div class="operation-form-wrapper row">
  <div class="payment-name-wrapper">
    <input #pName type="text" [formControl]="paymentName" placeholder="Наименование платежа*" autofocus />
    <div class="error-message-wrapper">
      <div class="error-message" *ngIf="paymentName.dirty">
        <small class="text-danger" *ngIf="paymentName.errors?.required">Поле обязательно для заполнения</small>
      </div>
    </div>
  </div>
  <div class="payment-daycost-wrapper">
    <input type="number" [formControl]="paymentDayCost" placeholder="Стоимость за день" />
    <div class="error-message-wrapper">
      <div class="error-message" *ngIf="paymentDayCost.dirty">
        <small class="text-danger" *ngIf="paymentDayCost.errors?.required">Поле обязательно для заполнения</small>
        <small class="text-danger" *ngIf="paymentDayCost.errors?.min">Значение не может быть меньше 0</small>
      </div>
    </div>
  </div>
  <div class="action-button-wrapper">
    <button
      type="submit"
      class="action-btn btn btn-secondary"
      (click)="onSubmit()"
      [disabled]="operationForm.invalid"
      title="Для Вашего удобства используйте Enter для добавления платежа и Escape для обнуления формы"
    >
      Добавить
    </button>
  </div>
</div>
