.operation-form-wrapper {
  flex-wrap: nowrap;
  & > div:not(:last-of-type) {
    margin-right: 40px;
  }
  .action-button-wrapper {
    .action-btn {
      border-radius: 0;
    }
  }
  .error-message-wrapper {
    height: 20px;
  }
  input {
    width: 400px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #dee2e6;
  }
}
